/* #region (fold region please) Custom specificity  
	! Specificity is in ascending order, lower number best
	? Every element after the previous except the first increases specificity by 1
	* 1: {id, element, root, * tag, body, html} 2: {class, psuedo-elements, matching selector} 3: {psuedo-classes, type}
	!!!!!! 0: {!important} -- Should there come a time to decide if !important ranks above a certain id and it judges the ranking in which the css is placed, it comes first. Else return to the stated above.
	Added common tags like body and html to inlude in element if it wasn't clear if I stated element.
	? Tip: L10 for reading the docs, the custom specificity is visual based and per selector
*/
/* #endregion (fold region please) This is only for understanding custom ways I've set things */
/* Unit convention -- rem, CSS layout -- cascading theory, Sizing unit ordered by size ascending and units with text comes before text after integers */
/* #region -- Base stuff, root, body, html etc. */
@font-face{
	font-family: "Oswald";
 	src: url(https://fonts.google.com/specimen/Oswald);
	}

:root {
	/* Ignore standard formatting, format by section or type */
	font-size: 					62.5%;
	
	--small-spacing:		0.25rem 0.5rem 0.25rem 0.5rem;
	--flex-gap: 				1rem;
	--container-twoH: 	23.2rem;
	
	--client-width: 		8rem;
	--client-height: 		8rem;
	--stafbox-width: 		12.2rem;
	--client-queue: 		20rem;
		
	--small-br:					.1rem solid;
	--medium-br: 				1rem solid;
	
	--twSpeed:					4s;
	
	--clr-body-bg: 		#264653;
	--clr-car-bg:  	  #2A9D8F;
	--clr-text:				hsl(0 0% 15%);
	--clr-heading: 		hsl(0 0% 25%);
	--tertiary-clr:   #E9C46A;
	--accent-clr:		  #F4A261;
	--accent-sec-clr: #E76F51;
	--pri-bdr-clr:		#7A687F;
	--dark: 					#00BD9D;
	--dark-theme: 		#232323;
	--light: 					#88D7D2;
	--primary-bdr:		#666;
	}

/*:has selector support 
https://caniuse.com/css-has
https://www.lambdatest.com/web-technologies/css-has
Generic supported
chrome vers 108-110
Edge 16.2-Tp
Firefox null
opera 91 or 92
IE null
*/
:root:has(#light:checked) {
	--clr-body-bg: hsl(0 0% 90%);
  --clr-car-bg:  hsl(0 0% 100%);
  --clr-text: 	 hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
	}

:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-car-bg:  hsl(209 50% 100%);
  --clr-text:		 hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
	}

:root:has(#tropical:checked) {
	--clr-body-bg: 		#264653;
	--clr-car-bg:  	  #2A9D8F;
	--clr-text:				hsl(0 0% 15%);
	--clr-heading: 		hsl(0 0% 25%);
	}

:root:has(#pink:checked) {
	--clr-body-bg: 		hsl(310 50% 90%);
	--clr-car-bg:  	  hsl(310 50% 90%);
	--clr-text:				hsl(310 50% 15%);
	--clr-heading: 		hsl(310 50% 25%);
	}

:root:has(#dark:checked) {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-car-bg:  hsl(209 50% 5%);
  --clr-text:		 hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
	}

/* No support fallback */
.light {
	--clr-body-bg: hsl(0 0% 90%);
  --clr-car-bg:  hsl(0 0% 100%);
  --clr-text: 	 hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
	}

.blue {
	--clr-body-bg: hsl(209 50% 90%);
	--clr-car-bg:  hsl(209 50% 100%);
	--clr-text:		 hsl(209 50% 15%);
	--clr-heading: hsl(209 50% 25%);
	}

.tropical {
	--clr-body-bg:	#264653;
	--clr-car-bg:		#2A9D8F;
	--clr-text:			hsl(0 0% 15%);
	--clr-heading:	hsl(0 0% 25%);
	}

.pink {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-car-bg:  hsl(310 50% 100%);
  --clr-text:		 hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
	}

.dark {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-car-bg:  hsl(209 50% 5%);
  --clr-text:		 hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
	}
	
* {
	margin:		0;
	padding:	0;
	box-sizing: border-box;
	}
	
body {
	font-size: 				1.6rem;
	color: 						var(--clr-text);
	background-color: var(--clr-body-bg);
	font-family:			'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	perspective: 			80rem;
	}

html, body {
		max-width:		100%; 
		min-height:		100%;
		margin: 			0; 
		padding: 			0;
		font-size: 		1.2rem;
		box-sizing: 	border-box;
		overflow-x: 	hidden;
		text-align:		center;
		font-family:	Arial, Helvetica, sans-serif; 
	}

/* #endregion */

/* Computer--ipad layout */

/* #region -- Salon container */
#salon {
	margin-top:				5rem;
	width:						100%;
	min-height:				87rem;
	margin:						0 auto; 
	box-sizing: 			border-box;
	display: 					flex;
	align-items: 			stretch;
	position: 				relative;
	justify-content:	center;
	border:						var(--medium-br) var( --pri-br-clr);
	}

#salon > * {
	margin:						var(--small-spacing)
	}

/* #region -- #cars_place */
#cars_place {
	z-index: 						0;
	padding-top: 				.5rem;
	width: 							41rem;
	height: 						120%;
	display: 						flex;
	flex-direction: 		column;
	box-sizing:				 	border-box;
	background-color: 	var(--clr-car-bg);
	gap: 								var(--flex-gap);
	}
	
#cars_place ul li {
	padding: 			1rem;
	border: 			var(--small-br);
	display: 			inline-block;
	}

#porsche > ul {
	margin: 		var(--small-spacing);
	padding: 		0;
	gap: 				var(--flex-gap);
	display: 		flex;
	flex-wrap: 	wrap;
	list-style: none;
	box-sizing: border-box;
	}

#porsche > ul > li {
	display: flex;
	width:	25%;
	gap: var(--flex-gap);
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 1;
	/* flex-wrap and direction weirdly causes it to stack on one top of each other -- future me, also direction was intended bozo kami (Tps) */
	flex-wrap: 	wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
	}

#porsche > ul > li > img {
	height: 10vh;
	float:  left;
	border: none !important;
	margin: auto;

	}

#porsche > ul > li > div {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	width: 12.2rem;
	}

#porsche > ul > li > div > span.preference {
	display: none;
	}

/* Parent div of cars */
.place {
	min-height: 	21rem;
	width: 				40rem;
	margin: 			var(--small-spacing);
	border:				var(--small-br);
	}

.ui-droppable .clientcard, .ui-droppable .first_customer::before {
	content: '';
	/* left: 				0 !important;
	top:  				0 !important; */
	padding-right: .2rem;
	}

/* Child image div */
.car {
	z-index: 		-2;
	width: 			7rem;
	min-height: 7rem;
	}

/* #endregion */

/* #region -- #staffbox.staffbox */
#staffbox {
	margin-top: var(--container-twoH);
	
	}

#staffbox > div {
	--main-bg:  		var(--accent-clr);
	--secondary-bg: var(--dark);
	
	background: radial-gradient(closest-side, var(--main-bg), var(--secondary-bg));
	}

[class*="staffbox__"] {
	padding: 			.5rem;
	margin-bottom: .3rem;
	width:				10rem;
	/* height: 100%; */
	}

.staffbox__image {
	width: 				7rem;
	}
/* #endregion */

/* #region -- #clients_queue */
#clients_queue,#cashier,#exit {	
	border: 						var(--small-br); 
	border-color:				var(--primary-br);
	}

#clients_queue {
	margin-top:					var(--container-twoH);
	width:							20rem;
	max-height: 				66.6rem;
	position: 					relative;
	text-align:					center;
	background-color: 	var(--clr-car-bg);
	}

#clients_queue > p {
	height: 						2rem !important;
	grid-column-start: 	span 2;
	font-weight: 				bolder;
	}

.amountOver5 {
	grid-gap: 							1rem;
	grid-template-columns: 	repeat(1fr 1fr);
	width: 									31rem !important;
	display: 								grid;
	grid-template-rows: 		auto;
	}

.clientcard {
	z-index: 						3;
	grid-column-start: 	span 1;
	position: 					relative;
	}

.clientcard__image {
	font-size:										1rem;
	line-height:									1rem;
	padding: 											.2rem 0;
	margin:/*Auto vertical align*/0 auto;
	margin-top:										1rem;
	border:												var(--small-br);
	border-color: 								var(--primary-bdr);
	background-color:							var(--pri-bdr-clr);
	width:												var(--client-width); 
	min-height:										var(--client-height);
	background-position:					bottom;
	background-repeat:						no-repeat;
  position:											relative;
	}

.first_customer::before {
	content: '(First)';
	}

.preference {
	font-size: 		1rem;
	margin: 			auto;
	width: 				min-content;
	font-family: 	Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 	bold;
	}

.disappear {
	display: none;
	opacity: 0;
	}

#aoc {
	padding: 						1rem 0 0 0;
	margin: 						1rem auto;
	width: 							16rem;
	position:				 		relative;
	box-sizing: 				border-box;
	font-family: 				"Source Code Pro", monospace;
	grid-column-start:	span 2;
	}

.amountOver5 #aoc {
	z-index: 	1;
	height: 	3rem;
	}

.amountOver5 p {
	z-index: 				2;
	height: 				3rem;
	line-height: 		3rem;
	margin-bottom: 	10rem;
	}

.amountOver5 div.clientcard {
	padding-top: 	3.5rem;
	bottom: 			14rem;
	}

#aoc::before,
#aoc::after {
	top: 			0;
	right: 		0;
	bottom: 	0; 
	left: 		0;
	content: 	'';
	position: absolute;
	}

#aoc::before {
	background:		var(--clr-car-bg);
	animation: 
		typewriter 	var(--twSpeed) steps(19) 1s forwards;
	}

#aoc::after {
	width: 				0.250em;
	height: 			1.5rem;
	margin-top: 	.67rem;
	border: 			var(--small-br);
	background: white;
	animation: 
		typewriter 	var(--twSpeed) steps(19) 1s forwards,
		blink 750ms steps(19) infinite;
	}

@keyframes typewriter {
	to {left: 100%;}
	}

@keyframes blink {
	to {border: none; background: var(--clr-car-bg);}
	}

	/*  #region -- Client images  */
	.client_1{background-image:url(images/client_1.jpg);}
	.client_2{background-image:url(images/client_2.jpg);}
	.client_3{background-image:url(images/client_3.jpg);}
	.client_4{background-image:url(images/client_4.jpg);}
	.client_5{background-image:url(images/client_5.jpg);}
	.client_6{background-image:url(images/client_6.jpg);}
	.client_7{background-image:url(images/client_7.jpg);}
	.client_8{background-image:url(images/client_8.jpg);}
	.client_9{background-image:url(images/client_9.jpg);}
	.client_10{background-image:url(images/client_10.jpg);}
	/* #endregion */
/* #endregion */

/* #endregion */

/* #region -- #display.display */
/* #region -- ul */
.display {
	top: 				 	0;
	right: 			 	0;
	margin-top: 	1rem;
	width:       	25.5rem;
	position:	    absolute;
}

.display ul{
	padding: 	0;
	margin: 	0;
}

.display ul li {
	padding: 					1rem;
	text-shadow: 			.1rem .1rem .3rem var(--light);
	display: 					inline-block;
	border:  					var(--small-br);
	color: 						var(--accent-sec-clr);
}

.display__client {
	box-sizing: border-box;
	box-shadow: #666;
}
/* #endregion  */

/* #region -- form.color-picker */
.visually-hidden {
	height: 			.1rem;
	width: 				.1rem;
	clip: 				rect(0 0 0 0);
	clip-path: 		inset(50%);
	overflow: 		hidden;
	position: 		absolute;
	white-space:	nowrap;
}

.color-picker > fieldset {
	border: 				0;
	margin: 				0;
	gap: 						2rem;
	border-radius: 	0 0 1rem 1rem;
	padding: 				1rem 3rem;
	display: 				flex;
	width: 					fit-content;
	margin-inline: 	auto;
	background: 		var(--clr-body-bg);
}

.color-picker input[type="radio"] {
	border-radius: 	50%;
	outline-offset: .3rem;
	width: 					1.5rem;
	height: 				1.5rem;
	outline: 				.3rem solid var(--radio-color, currentColor);
	appearance: 		none;
}

.color-picker input[type="radio"]:checked {
	background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
	--radio-color:	white;
}

.color-picker input[type="radio"]#blue {
	--radio-color:	blue;
}

.color-picker input[type="radio"]#tropical {
	--color: #2A9D8F;
	--radio-color: var(--color);
}

.color-picker input[type="radio"]#pink {
	--radio-color: pink;
}

.color-picker input[type="radio"]#dark {
	--radio-color:	var(--dark-theme);
}
/* #endregion */

/* #region --btn */
.reset-button {
	margin-top:				1rem;
	margin-left: 			3rem;
	height:						7rem;
	width: 						20rem;
	position: 				relative;
	transform-style:	preserve-3d;
	transition: 			transform 300ms ease-in-out;
	cursor: 					pointer;
	transform: 				translateZ(-7.5rem);
}

.reset-button:hover {
	transform: rotateX(-90deg) translateY(7.5rem);
}

.side {
	width:  							100%;
	height: 							100%;
	display: 							flex;
	justify-content: 			center;
	align-items: 					center;
	font-weight: 					bold;
	position: 						absolute;
	backface-visibility: 	hidden;
}

.main-side {
	background-color: var(--clr-car-bg);
	box-shadow:				-3px 3px , -2px 2px , -1px 1px ;
	transform:				translateZ(3.5rem);
}

.hover-side {
	background-color: #cc3300;
	color: 							var(--clr-heading);
	box-shadow:				 	-3px 3px orange, -2px 2px orange, -1px 1px orange;
	transform:					rotateX(90deg)	translateZ(3.5rem);
}

/* #endregion */
/* #endregion */